body{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: var(--background-color);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conselho{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--advice-card-color);
    border-radius: 10px;
    margin: 20px;
    height: 345px;
}

.conselho .conselho-id{
    color: var(--advice-dice-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}

.conselho .conselho-descricao{
    font-size: 23px;
    padding: 23px;
    text-align: center;
    color: var(--text-color);

}

.conselho .conselho-avancar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--advice-dice-color);
    transform: translateY(50%);
}

.conselho .conselho-avancar:houver{
    color: #53ffab;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}

.conselho-avancar img{
    width: 48px;
    height: 40px;
    margin-inline: 8px;
}

.card picture img{
    width: 450px;
    height: 20px;
}